
<div>
	<b>PERSONNEL</b>
	<div style="float:right">
		<button ng-click="showModal(null,false)">+</button>
	</div>
</div>
<div>
	<modal-dialog id="modalDialog" show="modalShown" width="500px" height="250px">
		<div style="text-align:center">Add Personnel</div>
		<div>
			<div ng-click="uploadProfilePic()" style="float:left">
				<div class="addProfilePicture" >Change Profile Picture</div>
				<img class="profilePic" src="{{selectedPer.tempImg}}.webp">
				<form enctype="multipart/form-data" action="./res/img/personnel" method="post">
				<input type="file" id="in_img_file" style="display:none" />
				</form>
			</div>
			<div>
				<input id="in_fname" placeholder="First Name" value="{{selectedPer.firstname}}"/><input id="in_lname" placeholder="Last Name" value="{{selectedPer.lastname}}"/>
				<div>
					<select ng-model="gender" ng-change="changeGender(gender)">
						<option>male</option>
						<option>female</option>
					</select>
					<select id="selectPost" ng-model="post" ng-change="changePosition(post)" ng-options="post for post in positions">
					</select>
				</div>
				<div>
					<table>
						<tr><td><img class="perImg" src="./css/img/phone1.webp"/></td><td><input id="in_phone1" placeholder="Phone 1" value="{{selectedPer.contact1}}"/></td></tr>
						<tr><td><img class="perImg" src="./css/img/phone2.webp"/></td><td><input id="in_phone2" placeholder="Phone 2 / Fax" value="{{selectedPer.contact2}}"/></td></tr>
					</table>
				</div>
				<input type="email" id="in_email" placeholder="Email" value="{{selectedPer.email}}"/>
			</div>
		</div>
		<div style="text-align:center">
			<button ng-click="commitPersonnel()">OK</button>&#160;<button ng-click="closeModal()">Cancel</button>
		</div>
	</modal-dialog>
	<div style="padding: 5px;float:left" ng-repeat="per in pers">
		<div id="personnel" class="block">
			<div style="float:right">
				<button class="btnOk" ng-click="showModal($index,true)">EDIT</button>
				<button class="btnDelete" ng-click="showDelBox($index)"/>
			</div>
			{{per.firstname}} {{per.lastname}}<br/> 
			<table >
				<tr>
					<td>
						<button style="float:left;background:none;border:none" title="click for more details">
							<img style="width:70px;position: absolute;z-index:200" src="./css/img/circleoverlay.webp"/>
							<img style="position:absolute;width:70px;height:70px;" 
								ng-if="per.img == '' || per.img == null" src="./res/img/personnel/profpic_{{per.gender}}.webp"/>
							<img style="width:70px;height:70px; z-index:100" src="./res/img/personnel/{{per.img}}.webp">
						</button>
					</td>
					<td style="vertical-align: top;">
						<div style="font-size:10pt;width:155px;word-wrap:break-word">
							<div>{{per.position}}</div>
							<table>
								<tr><td><img class="perImg" src="./css/img/phone1.webp"/></td><td>{{per.contact1}}</td></tr>
								<tr><td><img class="perImg" src="./css/img/phone2.webp"/></td><td><span ng-show="per.contact2 != null">{{per.contact2}}</span></td></tr>
							</table>
							<div>{{per.email}}</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
